body {
    background-color: rgb(218, 211, 203);
}

header {
    background-color: rgb(143, 115, 79);
    border-bottom: 2px solid rgb(20, 13, 3);
    position: fixed;
    width: 100%;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
}

h3 {
    font-family: cursive;
    padding-bottom: 10px;
}


.navrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-right: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logoimg {
    width: 200px;
    height: 50px;
    padding-left: 10px;
}

a {
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(255, 235, 205, 0.144);
    padding: 5px;
    border-radius: 2px;
}

#familypic {
    width: 100%;
    height: 400px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid black;
}

.locimg {
    width: 150px;
}

.locrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 115, 79);
    border-bottom: 2px solid black;
}




